h1 {
    font-weight: 100px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 70px;
    align-items: center;
    margin: auto;
}
h3{
    display: flex;
    margin-left:3% ;
}
ul li{
    margin-left: 10%;
   
}
img {
    width: 50%;
    margin-left:25% ;
}
body{
    background-color: #bbbbbb;
    
    border: 5px solid rgb(254, 254, 254);
}
h2{
    margin-left: 3%;
}
h3 a {
    margin-left: 6px;
}
html{
    background-color: #373636;
    padding: 0px 18% 10% 18%;
}

